@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Urbanist', sans-serif;
    $background-color: #111111;
    $font-color: #FAF8F5;
}



// Mobile First Styles
body {
    background-color: $background-color;
    color: $font-color;
    margin: 0 6.4%;

    
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 2.5rem;
        padding-right: 3rem;
        flex-wrap: wrap;

        nav {
            width: 1.375rem;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

}

.container {
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
}

// Tablet Styles
@media (min-width: 768px) {
    .container {
        width: 750px;
        margin: 0 auto;
    }
}

// Desktop Styles
@media (min-width: 992px) {
    .container {
        width: 970px;
        margin: 0 auto;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
        margin: 0 auto;
    }
}