body {
    background-color: #141413;
}

header {
    background-color: #111111;
    padding: 22px 146px 0 150px;
    nav {
        .container {
            display: block;
        }
        .hamburger {
            display: none;
        }
        .nav-links {
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
            align-items: center;
            gap: 44px;
            font-weight: 700;
            font-size: 18px;
            line-height: 32px;
            letter-spacing: 1px;
            list-style: none;
            a {
                text-decoration: none;
                color: #FFFFFF;
                &:hover {
                    color: #F1C077;
                }
            }
        }
    }
}

.hero {
    background-color: #111111;
    display: flex;
    position: relative;
    margin: 0 auto;
    padding-bottom: 388px;
    gap:40px;
    .hero-container {
        padding-top: 188px;
        padding-left: 130px;
        padding-right: 630px;
        position: relative;
        z-index: 1;
        .hero-text {
            h1 {
                text-align: start;
                margin: 0;
            }
            p {
                margin: 0;
                text-align: start;
                .hero-text-br {
                    display: inline;
                }
            }
        }
        .hero-app-btns {
            justify-content: flex-start;
            margin-bottom: 0;
        }
    }
    .hero-img {
        .hero-img-mobile {
            display: none;
        }
        .hero-img-desktop {
            display: block;
        }
        position: absolute; // Position the hero-img absolutely within the hero section
        top: 0;
        right: 0;
        z-index: 0; // Ensure the hero-img is below the hero-container
        width: 100%;
        height: auto;
        padding-left: 742px;
        padding-right: 107px;
        display: block;
    }
}

.how-it-works {
    margin: 0 auto;
    gap: 127px;
    padding-bottom: 203px;
    .how-it-works-text {
        justify-content: center;
        margin: 0 430px;
        h2 {
            text-align: start;
            width: 100%;
        }
        .how-it-works-description {
            font-size: 20px; // Set the font size to 20px instead of 22px 
            line-height: 32px;
            text-align: start;
        }
    }
    margin: 0;
    .cards {
        display: grid;
        grid-template-columns: repeat(auto-fit, max(333.3px));
        gap: 88px;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
}

.sign-up {
    margin: 0;
    width: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, 1fr);
    gap: 184.1px;

    .job-seeker, .employer {
        display: block;
        margin: 0;
        padding: 0;

        .sign-up-steps-container {
            display: block;
            margin: 0;
            padding: 0;
            .sign-up-steps {
                margin: 0;
                padding: 75.45px 153px 75.45px 230px;
                .sign-up-step {
                    margin: 0;
                    padding: 0;
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                }
            }
        }


       
    }
}

.download-app-container {
    z-index: 0;
    position: relative;
    padding-bottom: 141px;

    .download-app {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        margin: 0;
        z-index: 0;
        position: relative;
        min-width: 1180px;
        min-height: 500px;


        .app-text {
            margin: 0;
            width: 560px;  
            z-index: 0;
            padding: 94px 0 116px 97px;
            h1 {
                text-align: start;
                font-weight: 700;
                font-size: 47px;
                line-height: 100%;
                text-align: start;
                .app-text-br {
                    display: inline;
                }
            }
            p {
                font-family: Source Sans Pro;
                font-weight: 400;
                font-size: 22px;
                line-height: 32px;
                text-align: start;
                color: #FBEDD8;
            }
            .app-buttons {
                flex-flow: row wrap;
                gap: 28px;
                justify-content: flex-start;

            }

        }

        .app-image {
            z-index: 0;
            position: relative;

            .app-image-mobile {
                display: none;
            }

            .app-image-desktop {
                display: block;
                overflow: visible; // Ensure the image overflows the container
                z-index: 1;
                width: 433px; // Set the width of the image
                height: 572px; // Set the height of the image
                top: 0; // Position the image at the top of the container
                left: 0; // Position the image at the left of the container
            }
        }
    }
}

.get-int-touch {
    .touch-text {
        min-width: 600;
        min-height: 486.0434875488281;
        margin: 0 auto;
        margin-bottom: 92.96px;
    }
}

footer {
    flex-flow: row wrap;
    padding: 18px 78px 18px 118px;
    height: 84px;
    gap: 218px;
    .footer-image1 {
        display: none;
    }
    .footer-image2 {
        display: block;
    }

    div {
        flex-flow: row wrap;
        padding: 0;
        gap: 0;

        .footer-a1 {
            padding-right: 83px;
        }
        .footer-a2 {
            padding-right: 96px;
        }
    }
}

