body {
    background-color: #141413;
}

header {
    background-color: #111111;
    padding: 22px 146px 0 150px;
    nav {
        .bi {
            display: none;
        }
        .nav-links {
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
            align-items: center;
            gap: 44px;
            font-weight: 700;
            font-size: 18px;
            line-height: 32px;
            letter-spacing: 1px;
            list-style: none;
            a {
                text-decoration: none;
                color: #FFFFFF;
                &:hover {
                    color: #F1C077;
                }
            }
        }
    }
}

.hero {
    background-color: #111111;
    display: flex;
    position: relative;
    margin: 0 auto;
    padding-bottom: 388px;
    gap:40px;
    .hero-container {
        padding-top: 188px;
        padding-left: 130px;
        padding-right: 630px;
        position: relative;
        z-index: 1;
        .hero-text {
            h1 {
                text-align: start;
                margin: 0;
            }
            p {
                margin: 0;
                text-align: start;
                .hero-text-br {
                    display: inline;
                }
            }
        }
        .hero-app-btns {
            justify-content: flex-start;
            margin-bottom: 0;
        }
    }
    .hero-img {
        .hero-img-mobile {
            display: none;
        }
        .hero-img-desktop {
            display: block;
        }
        position: absolute; // Position the hero-img absolutely within the hero section
        top: 0;
        right: 0;
        z-index: 0; // Ensure the hero-img is below the hero-container
        width: 100%;
        height: auto;
        padding-left: 742px;
        padding-right: 107px;
        display: block;
    }
}

.how-it-works {
    gap: 127px;
    padding-bottom: 203px;
    .how-it-works-text {
        justify-content: center;
        margin: 0 430px;
        h2 {
            text-align: start;
            width: 100%;
        }
        .how-it-works-description {
            font-size: 20px; // Set the font size to 20px instead of 22px 
            line-height: 32px;
            text-align: start;
        }
    }
    margin: 0;
    .cards {
        display: grid;
        grid-template-columns: repeat(auto-fill, max(333.3px));
        gap: 88px;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
}

.sign-up {
    
}